@charset "utf-8";

/* form */
.form-wrap > .inner {margin:10px 0 0;}
.form-wrap > .inner:first-child {margin:0;}
.form-wrap.__normal .ui-input {margin:0 6px 0 0;max-width:462px;width:100%;}
.form-wrap.__normal .ui-select {width:100%;max-width:236px;}
.form-wrap.__x1 .ui-input {width:382px;}
.form-wrap.__x2 .ui-input {width:382px;}
.form-wrap.__choice {margin:7px 0 0;}
.form-wrap.__choice + .description {margin:5px 0 0;}
.__normal.__x1 {white-space:nowrap;}

/* 주민등록번호 */
.__ctn {width:100%; max-width:462px;}
.__ctn .ui-input {margin-left:7px;}
.__ctn > .ui-input:first-child {margin-left:0;}
.__ctn .ui-input.__disable label {letter-spacing:0;color:#8a8a8a;}
.__ctn .__birthday {width:50%;max-width:226px;}
.__ctn .__gender {width:40px;}
.__ctn .__gender input {text-align:center;}
.__ctn .__gender:before {content:'-';position:absolute;left:-10px;width:10px;line-height:32px;color:#8a8a8a;text-align:center;}

/* 통신사 + 휴대폰번호 */
.form-wrap.__telecom {white-space:nowrap;}
.form-wrap.__normal.__x1 .ui-input > input[type=tel] + .placeholder {padding:0 40px 0 10px;} /* 인증time인풋 label 겹침 */

/* 휴대폰번호 */
.form-wrap.__mobile {position:relative;}
.form-wrap.__mobile {width:100%;max-width:462px;}
.form-wrap.__mobile .inner {width:100%;}
.form-wrap.__mobile .ui-select,
.form-wrap.__mobile .ui-input {width:108px;}
.form-wrap.__mobile .ui-input input {text-align:center;}
.form-wrap.__mobile .ui-input {margin-left:7px;}
.form-wrap.__mobile .ui-input + .ui-input:before {content:'-';position:absolute;left:-10px;width:10px;line-height:32px;color:#8a8a8a;text-align:center;}
.form-wrap.__mobile.__x4 {white-space:nowrap;}
.form-wrap.__mobile.__x4 > button {margin:0 0 0 7px;}

/* 전화번호 */
.form-wrap.__phone .ui-select {width:108px;}
.form-wrap.__phone .ui-input {width:108px;text-align:center;}
.form-wrap.__phone .ui-input {margin:0 0 0 7px;}
.form-wrap.__phone .ui-input:before {content:'-';position:absolute;left:-10px;width:10px;line-height:32px;color:#8a8a8a;text-align:center;}
.form-wrap.__phone .ui-input:first-child {margin:0;}
.form-wrap.__phone .ui-input:first-child:before {content:none;}
.form-wrap.__phone .ui-input,
.form-wrap.__phone .ui-input > input {text-align:center;}
.form-wrap.__phone .ui-select + .ui-input:before {content:none;}
.form-wrap.__phone .ui-check {margin:7px 0 0 7px;}
.form-wrap.__phone .ui-check.__not {font-size:12.855px;white-space:nowrap;}

/* 우편번호 입력 */
.postwrap {margin-top:10px;}
.form-wrap.__post .inner {margin:10px 0 0;}
.form-wrap.__post .inner:first-child {margin:0;}
.form-wrap.__post .ui-input {width:100%;max-width:462px;}
.form-wrap.__post .postcode > .ui-input {margin:0 0 0 7px;width:140px;}
.form-wrap.__post .postcode > .ui-input,
.form-wrap.__post .postcode > .ui-input > input {text-align:center;}
.form-wrap.__license .ui-input {width:108px;text-align:center;}
.form-wrap.__license .ui-input {margin:0 0 0 7px;}
.form-wrap.__license .ui-input:before {content:'-';position:absolute;left:-10px;width:10px;line-height:32px;color:#8a8a8a;text-align:center;}
.form-wrap.__license .ui-input:first-child {margin:0;}
.form-wrap.__license .ui-input:first-child:before {content:none;}
.form-wrap.__license .ui-input > input {text-align:center;}
.form-wrap.__date .ui-select {margin:0 0 0 7px;width:108px;} /* width:72px; */
.form-wrap.__date .ui-select:first-child {margin:0;}
.form-wrap.__date .ui-input {width:108px;}
.form-wrap.__date .ui-input + span {display:inline-block;margin:0 10px 0 5px;line-height:34px;color:#8a8a8a;vertical-align:top;}
.form-wrap.__agreement .row {padding:15px 0;border-top:1px solid #eeeeee;}
.form-wrap.__agreement .row:first-child {border:none;}
.form-wrap.__agreement .row > .col-md:first-child {width:160px;color:#8a8a8a;}
.form-wrap.__agreement .status > table {width:100%;}
.form-wrap.__agreement .status th,
.form-wrap.__agreement .status td {padding:20px 0;color:#8a8a8a;text-align:center;border-top:1px solid #eeeeee;}
.form-wrap.__agreement .status thead th,
.form-wrap.__agreement .status thead td {border-top:none;}
.form-wrap.__agreement .status tbody th {text-align:left;}
.form-wrap.__agreement .detail {float:right;text-decoration:underline;}

/* form : 우편번호 */
.categories > button {display:inline-block;margin:0 0 0 20px;font-size:18px;line-height:1.5;}
.categories > button:first-child {margin:0;}
.categories > button.active {border-bottom:2px solid #0092fa;color:#0092fa}
.postcode-finder .postcode-wrap .hidden-content button {width:100%;text-align:left;padding:3px 0;border-bottom:1px solid #ebebeb;}
.postcode-finder .postcode-wrap .description > p{margin:0;padding:0 0 10px 0;}
.postcode-finder .postcode-wrap .description > p:before {display:none;}
.ui-tabcont {display:none;outline:none;}
.ui-tabcont.active {display:block;}

.postcode-finder .__step {display:none;margin:20px 0 0;padding:0 0 20px;border-bottom:1px solid #ebebeb;}
.postcode-finder .__step.__no-style {padding:0;border:none;}
.postcode-finder .__step.active {display:block;}
.postcode-finder .__step > .button-wrap {margin:20px 0 0;}
.postcode-finder .row {margin:5px 0px;}

.postcode-finder .row > div {padding:0 4px;}
.postcode-finder .row .ui-select,
.postcode-finder .row .ui-input,
.postcode-finder .row .ui-button {width:100%;min-width:auto;}
.postcode-finder .no-data {line-height:200px;text-align:center;}
.postcode-finder .row-list {margin:2px;}
.postcode-finder .row-list .labels {position:relative;display:inline-block;padding:0 31px 0 0;width:150px;color:#8a8a8a;}
.postcode-finder .row-list .labels:before {content:'';position:absolute;right:15px;top:50%;margin:-6px 0 0;width:1px;height:12px;background-color:#d0d0d0;}

/* description */
.description {font-size:15px;line-height:1.2;color:#8a8a8a;word-break:break-all;padding:10px 0 0 0;}
.description > p {position:relative;margin:10px 0 0;padding:0 0 0 10px;}
.description > p:before {content:'- ';position:absolute;left:0;top:0;}
.description > p[data-bullet]:before { content:attr(data-bullet); }
.description > p[data-bullet] { padding-left:18px; }
.description > p[data-bullet] ~ p { padding-left:18px; }
.description > p:before {position:absolute;left:0;top:0;}
.description > p+.__choPrvAg:before {content:'';position:absolute;left:0;top:0;}
.description > p:first-child {margin:0;}
.description > p > span {display:block;font-size:0.875em;padding:10px 0 0 0;}
.description > p > span:before {content:'* ';position:relative;/* left:-5px;*/top:0;}
.description.__single {padding:10px 0 20px;}
.description.__topLine {position:relative;color:#8a8a8a;border-top:1px solid #d0d0d0;} /* 비밀번호강제권고 */
.description.__topLine .coer {margin-bottom:5px;}

/* tooltip */
.inform-trigger {margin:10px 0 0;}
.inform-trigger > button,
.inform-trigger > a {padding:0 0 0 20px;font-size:inherit;background:url('../images/ico/ico-inform.png') no-repeat 0 4px;}
.tooltip-container {position:relative;display:inline-block;}
.tooltip-container.active .tooltip-content {display:block;}
.tooltip-trigger {position:relative;top:6px;z-index:0;display:inline-block;height:25px;width:14px;margin:-2px 0 0 2px;text-indent:-1000px;vertical-align:middle;background:url('../images/ico/ico-inform.png') no-repeat 0 0;overflow:hidden;}
.tooltip-content {display:none;position:absolute;left:-42px;top:30px;padding:30px;width:360px;line-height:1.5;color:#fff;background-color:#0092fa;z-index:100;}
.tooltip-container.active .tooltip-trigger:before {content:'';position:absolute;left:1px; bottom:0;border:1px solid transparent;border-bottom-color:#0092fa;border-width:0 6px 6px;z-index:1;}
.tooltip-content b {color:#ffec00;}

/* 본인인증 */
#section-certify-way,
#section-certify-way > .col-md {display:block;width:100%;overflow:hidden;}
#section-certify-way .item-wrap {width:100%;overflow:hidden;padding:0  0 10px 0;border-bottom:1px solid #d0d0d0;}
#section-certify-way .item-wrap:nth-child(2) {padding-top:40px;border-bottom:none;}
#section-certify-way .item-wrap:before,
#section-certify-way .item-wrap:after {content:'';clear:both;display:table;width:100%;overflow:hidden;}
#section-certify-way .item-wrap > li {float:left;display:table;width:105px;margin:0 10px 30px 0;}
#section-certify-way .item-wrap > li.el {float:left; display:block; margin:0 0 10px; width:25%; text-align:center; white-space: nowrap; }
#section-certify-way .item-wrap > li.el.hidden-content { display:none; }
#section-certify-way .item-wrap > li.el .brand { margin-top:8px; color:#333; }
.inner-content.active  #section-certify-way .item-wrap {padding-top:30px;} /* 비밀번호찾기:본인확인수단 */
.subject.__underline + #section-certify-way .item-wrap {padding-top:40px;} /* 아이디찾기 */
.cert-modal { display:none; position:fixed; left:0; right:0; bottom:0; z-index:1000; }
.cert-modal:before { content:''; position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(0,0,0,0.75); z-index:0; }
.cert-modal .inner { position:relative; padding:60px 30px 30px; border-top:1px solid #d1d1d1; background-color:#fff; box-shadow: 0 -10px 20px 20px rgba(0,0,0,0.05); z-index:1; }
.cert-modal .header { text-align:center; }
.cert-modal .content .progressbar { margin:30px auto; }
.cert-modal .btn-close { position: absolute; right:20px; top:20px; z-index:2; }
@media only screen and (min-width:768px){
  #section-certify-way .item-wrap > li.el { width:auto; }
  #section-certify-way .item-wrap > li.el:nth-child(n+2) { margin-left: 32px; }
  #section-certify-way .item-wrap > li.el.hidden-content { display:block; }
  #section-certify-way .item-wrap > li.el#cert-toggle { display:none; }
  .cert-modal { left:50%; right:auto; top:50%; margin-top:-200px; margin-left:-300px; width:600px; height:400px; }
}
@media only screen and (max-width:360px){
  #section-certify-way .item-wrap > li.el img { width: 48px; height: 48px; }
}

/* 본인인증 선택 아이콘 */
#section-certify-way .item-wrap .item {display:table-cell;width:100%;height:90px;vertical-align:bottom;background-repeat:no-repeat;background-position:top left;overflow:hidden;}
#section-certify-way .item-wrap .item:hover,
#section-certify-way .item-wrap .item:focus,
#section-certify-way .item-wrap .item.active {color:#0092fa;}
#section-certify-way .item-wrap .item.certify-hp {background-image:url('../images/ico/ico-certify-hp.png');} /* 휴대폰인증 */
#section-certify-way .item-wrap .item:hover.certify-hp,
#section-certify-way .item-wrap .item:focus.certify-hp {background-image:url('../images/ico/ico-certify-hp.png');}
#section-certify-way .item-wrap .item.certify-card {background-image:url('../images/ico/ico-certify-card.png');} /* 카드인증 */
#section-certify-way .item-wrap .item:hover.certify-card,
#section-certify-way .item-wrap .item:focus.certify-card {background-image:url('../images/ico/ico-certify-card.png');}
#section-certify-way .item-wrap .item.certify-ipin {background-image:url('../images/ico/ico-certify-ipin.png');} /* 아이핀인증 */
#section-certify-way .item-wrap .item:hover.certify-ipin,
#section-certify-way .item-wrap .item:focus.certify-ipin {background-image:url('../images/ico/ico-certify-ipin.png');}
#section-certify-way .item-wrap .item.certify-document {background-image:url('../images/ico/ico-certify-document.png');} /* 공인인증서인증 */
#section-certify-way .item-wrap .item:hover.certify-document,
#section-certify-way .item-wrap .item:focus.certify-document {background-image:url('../images/ico/ico-certify-document-on.png');}
#section-certify-way .item-wrap .item.certify-stone {background-image:url('../images/ico/ico-certify-stone.png');} /* 지문인증 */
#section-certify-way .item-wrap .item:hover.certify-stone,
#section-certify-way .item-wrap .item:focus.certify-stone {background-image:url('../images/ico/ico-certify-stone-on.png');}
#section-certify-way .item-wrap .item.certify-email {background-image:url('../images/ico/ico-certify-email.png');} /* 이메일인증 */
#section-certify-way .item-wrap .item:hover.certify-email,
#section-certify-way .item-wrap .item:focus.certify-email {background-image:url('../images/ico/ico-certify-email.png');}
#section-certify-way .item-wrap .item > span {float:left;padding:0 5px 0 0;width:100%;text-align:left;}

/* 통합회원 2단계 인증 추가 */
#section-certify-way .item-wrap .item.certify-card {background-image:url('../images/ico/ico-certify-card.png');} /* 카드인증 */
#section-certify-way .item-wrap .item:hover.certify-card,
#section-certify-way .item-wrap .item:focus.certify-card {background-image:url('../images/ico/ico-certify-card.png');}
/* //통합회원 2단계 인증 추가 */

#section-certify-way .btn-wrap {padding:40px 0 0px 0px;}
#section-certify-way .description2 {margin:10px 0 0;font-size:12.855px;color:#8a8a8a;line-height:1.5em;}

/* 직접입력 */
.direct-area {display:block;}
.direct-box {display:block;}

.cert-step{ margin: 0 auto 100px; width:600px;
  display:flex; display:-ms-flexbox;
  -webkit-justify-content: space-between; -ms-justify-content:space-between; justify-content: space-between;
  -webkit-align-items: top; -ms-align-items: top; align-items: top;
}
.cert-step li{ position: relative; white-space:nowrap; }
.cert-step li:nth-child(n+2):after{ content: ''; position:absolute; left:calc(-200px / 2 + 6px); top:33px; width: 12px; height: 22px; background: url(../images/common/ico-switcharrow12x22.png) no-repeat 0 0; background-size: 12px 22px; }
.__overtime { position:relative; }
.__overtime:before { content:'인증시간이 만료되었습니다.'; position:absolute; left:0; right:0; top:0; bottom:0; text-align:center; background-color:#fff; z-index:2;
  display:flex; display:-webkit-flex;
  -webkit-justify-content: center; justify-content: center;
  -webkit-align-items: center; align-items: center;
}
.progressbar { position:relative; margin:0 auto; width:120px; height:120px; display:-webkit-flex; display:flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
.progressbar__counter { position:absolute; left:0; right:0; top:0; bottom:0; padding:0; display:flex; align-items:center; justify-content: center; }
.progressbar__counter { font-size:22px; line-height:22px; color:#009bfa; }
.progressbar__fill {
  -webkit-transform: rotate(-90deg); transform: rotate(-90deg);
  -webkit-transform-origin: center; transform-origin: center;
  -webkit-animation-name: progress; animation-name: progress;
  -webkit-animation-timing-function: linear; animation-timing-function: linear;
  -webkit-stroke-dasharray: 0 360; stroke-dasharray: 0 360;
  -webkit-stroke-dashoffset: 0; stroke-dashoffset: 0;
  -webkit-stroke-linecap: round; stroke-linecap: round;
}

@keyframes progress {
  from { stroke-dasharray: 0 360; stroke-dashoffset: 0; }
  to { stroke-dasharray: 360; stroke-dashoffset: 0; }
}
@-webkit-keyframes progress {
  from { -webkit-stroke-dasharray: 0 360; -webkit-stroke-dashoffset: 0; }
  to { -webkit-stroke-dasharray: 360; -webkit-stroke-dashoffset: 0; }
}