@charset "utf-8";

/* ==============================
개발자용 CSS
============================== */



/* 부분 페이지1 로딩 시작 */
.loader {
    color: #fff;
    position: fixed;
    box-sizing: border-box;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 1000
}
    .loader:after, .loader:before {
        box-sizing: border-box;
        display: none
    }
    .loader.is-active {
        background-color: rgba(0,0,0,.85);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0
    }
        .loader.is-active:after, .loader.is-active:before {
            display: block
        }

.loader-curtain:after, .loader-curtain:before {
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -35px;
    font-size: 30px;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    overflow: hidden;
    line-height: 1.2;
    content: "LOTTECINEMA"
}

.loader-curtain:before {
    color: #666
}

.loader-curtain:after {
    color: #fff;
    height: 0;
    animation: curtain 1s linear infinite alternate both
}

.loader-curtain[data-curtain-text]:not([data-curtain-text=""]):after, .loader-curtain[data-curtain-text]:not([data-curtain-text=""]):before {
    content: attr(data-curtain-text)
}

.loader-curtain[data-brazilian]:before {
    color: #f1c40f
}

.loader-curtain[data-brazilian]:after {
    color: #2ecc71
}

.loader-curtain[data-colorful]:before {
    animation: maskColorful 2s linear infinite alternate both
}

.loader-curtain[data-colorful]:after {
    animation: curtain 1s linear infinite alternate both,maskColorful-front 2s 1s linear infinite alternate both;
    color: #000
}

@keyframes maskColorful {
    0% {
        color: #3498db
    }

    49.5% {
        color: #3498db
    }

    50.5% {
        color: #e74c3c
    }

    to {
        color: #e74c3c
    }
}

@keyframes maskColorful-front {
    0% {
        color: #2ecc71
    }

    49.5% {
        color: #2ecc71
    }

    50.5% {
        color: #f1c40f
    }

    to {
        color: #f1c40f
    }
}

@keyframes curtain {
    0% {
        height: 0
    }

    to {
        height: 84px
    }
}

.loader-bouncing:after, .loader-bouncing:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: #fff;
    animation: kick .6s infinite alternate
}

.loader-bouncing:after {
    margin-left: 20px;
    animation: kick .6s infinite alternate
}

.loader-bouncing:before {
    margin-left: -10px;
    animation-delay: .2s
}

@keyframes kick {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
/* 부분 페이지1 로딩 끝 */

/* 전체 페이지1 로딩 시작 */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}
/* 전체 페이지1 로딩 끝 */


.lpay_iframe_mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2015;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    display: none;
}

    .lpay_iframe_mask.pop-mask-block {
        display: block;
    }

.lpay_iframe_custom {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    display: none;
    z-index: 9999;
}

    .lpay_iframe_custom .lpay_iframe_layer {
        position: relative;
        background: #fff;
        height: 100%;
    }


.layerMultiType { z-index: 150 !important; width:500px; }

.layer_wrap200 { z-index: 200 !important; }
.dim200 {position:fixed; top:0; right:0; bottom:-1px; left:0; z-index:199; background:rgba(0, 0, 0, 0.5); overflow-y:scroll}
.dim200.ty2 {overflow:hidden; position:absolute; z-index:79;/* header.fixed의 z-index 보다 낮아야 함*/}