@charset "utf-8";

/************** skin 사용안내 **************/
/*** 텍스트 포인트 기본컬러(별도로 제휴사css 등록하지 않았을 때 member.lpoint.com) : #0092fa ***/
/*** 텍스트 포인트 샘플컬러 : #ee1c25 ***/
/*** 제휴사 identity color로 변경가능합니다. ***/

/*** 이미지 기본컬러(별도로 제휴사css와 이미지를 변경하지 않았을 때 member.lpoint.com)  : #0092fa 의 이미지 ***/
/*** 이미지 샘플컬러 : #ee1c25 의 이미지 ***/
/*** 제휴사 identity color로 변경가능합니다. ***/

/* a */
a {color:#555;text-decoration:none;}
a:focus {outline:1px solid #ee1c25;}

/* 텍스트컬러 */
.__black {color:#000;}
.__dark-gray {color:#8a8a8a;}
.__point-color {color:#ee1c25;}

/* button */
.ui-button.__point-color {color:#fff;background-color:#ee1c25;}
.ui-button.__black {color:#fff;background-color:#333;}
.ui-button.__dot {color:#333;}
.ui-button.__dot > em {color:#fff;}
.ui-button.__dot > em:before {background-color:#ee1c25;}
.ui-button.__underline.__point-color {color:#ee1c25;}
.ui-button.__underline.__black {color:#333;}

/* 인증번호 타이머 */
.ui-input > .timer {color:#ee1c25;}

/* ui element's */
.ui-input > input:focus,
.ui-input > input.__focus,
.ui-select:focus,
.ui-select.__focus,
.ui-radio > input:focus + label,
.ui-check > input:focus + label {outline:1px solid #ee1c25;}
.ui-radio > label:before,
.ui-check > label:before {background-image:url("https://members.lpoint.com/resources/skin_images/skin-red/ui-input.png");}

/* 상세메시지 */
.description-addr {color:#ee1c25;}

/* 툴팁 */
.tooltip-content {background-color:#ee1c25; opacity: 0.7;}
.tooltip-container.active .tooltip-trigger:before {border-bottom-color:#ee1c25;}
.tooltip-content b {color:#ffec00;}

/* 우편번호 Modal TAB */
.categories > button.active {border-bottom:2px solid #ee1c25;color:#ee1c25;}

/* 본인인증 선택 아이콘 */
#section-certify-way .item-wrap .item:hover,
#section-certify-way .item-wrap .item:focus,
#section-certify-way .item-wrap .item.active {color:#ee1c25;}
#section-certify-way .item-wrap .item:hover.certify-hp,
#section-certify-way .item-wrap .item:focus.certify-hp {background-image:url('../images/ico/ico-certify-hp.png);} /* 휴대폰인증 */
#section-certify-way .item-wrap .item:focus.certify-card {background-image:url('../images/ico/ico-certify-card.png');} /* 카드인증 */
#section-certify-way .item-wrap .item:hover.certify-ipin,
#section-certify-way .item-wrap .item:focus.certify-ipin {background-image:url('../images/ico/ico-certify-ipin.png');} /* 아이핀인증 */
#section-certify-way .item-wrap .item:hover.certify-email,
#section-certify-way .item-wrap .item:focus.certify-email {background-image:url('../images/ico/ico-certify-email.png');} /* 이메일인증 */

/* 성공,실패 페이지 아이콘 */
.headline.__error:before {background:url('../skin_images/skin-red/ico-error.png') no-repeat 0 0;}
.headline.__success:before {background:url('../skin_images/skin-red/ico-success.png') no-repeat 0 0;}

/* APP간편인증아이콘(PIN/지문/FaceId) */
.section.__simpinfo .pintxt {background:url('../skin_images/skin-red/ico-pinnumber__x2.png') no-repeat 50% 0;background-size:120px;}
.section.__simpinfo .pingertxt {background:url('../skin_images/skin-red/ico-pinger__x2.png') no-repeat 50% 0;background-size:120px;}
.section.__simpinfo .facetxt {background:url('../skin_images/skin-red/ico-face__x2.png') no-repeat 50% 0;background-size:120px;}

/* 툴팁 */
.tooltip-trigger {background:url('../skin_images/skin-red/ico-inform.png') no-repeat 0 0;}

/* ⓘ 안내버튼 */
.inform-trigger > a,
.inform-trigger > button {background:url('../skin_images/skin-red/ico-inform.png') no-repeat 0 4px;}

/* 가입 Step */
.step.__1:before {background-image:url('../skin_images/skin-red/img-step.png');}
.step.__2:before {background-image:url('../skin_images/skin-red/img-step.png');}

/* 1024 이하 이미지대응 */
@media only screen and (max-width:1024px) {
	/* 본인인증 선택 아이콘 */
	#section-certify-way .item-wrap .item:hover.certify-hp,
	#section-certify-way .item-wrap .item:focus.certify-hp {background-image:url('../images/ico/ico-certify-hp__x2.png');background-size:60px 60px;} /* 휴대폰인증 */
	#section-certify-way .item-wrap .item:hover.certify-card,
	#section-certify-way .item-wrap .item:focus.certify-card {background-image:url('../images/ico/ico-certify-card__x2.png');background-size:60px 60px;} /* 카드인증 */
	#section-certify-way .item-wrap .item:hover.certify-ipin,
	#section-certify-way .item-wrap .item:focus.certify-ipin {background-image:url('../images/ico/ico-certify-ipin__x2.png');background-size:60px 60px;} /* 아이핀인증 */
	#section-certify-way .item-wrap .item:hover.certify-email,
	#section-certify-way .item-wrap .item:focus.certify-email {background-image:url('../images/ico/ico-certify-email__x2.png');background-size:60px 60px;} /* 이메일인증 */

	/* 툴팁 */
	.tooltip-trigger {background:url('../skin_images/skin-red/ico-inform__x2.png') no-repeat 0 0;background-size:14px 14px;}

	/* ⓘ 안내버튼 */
	.inform-trigger > a,
	.inform-trigger > button {background-image:url('../skin_images/skin-red/ico-inform__x2.png');background-size:14px 14px;}

	/* 성공,실패 페이지 아이콘 */
	.headline.__error:before {background:url('../skin_images/skin-red/ico-error__x2.png') no-repeat 0 0;background-size:74px 117px;}
	.headline.__success:before {background:url('../skin_images/skin-red/ico-success__x2.png') no-repeat 0 0;background-size:74px 117px;}
}